@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r8xke4');
  src:  url('fonts/icomoon.eot?r8xke4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r8xke4') format('truetype'),
    url('fonts/icomoon.woff?r8xke4') format('woff'),
    url('fonts/icomoon.svg?r8xke4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
